.col-6 img{
    width: 30rem;
    margin-bottom: 1rem;
}
.row{
    display: flex;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
}
.col-6 .movies{
    width: 20rem;
}
.container h2{
    text-align: center;
    font-family: "Cormorant Garamond", serif;
    font-size: 2rem;
}