.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
  font-family: "Cormorant Garamond", serif;
}
.header h3 {
  font-size: 2rem;
}
.header img {
  width: 10rem;
}
